/vendor/*
!app/cache/.gitkeep
*.env
!/congfig/database.php
congfig/database.php
/congfig/database.php
/composer.lock
/yarn.lock
.idea/*
!/congfig/debugbar.php
congfig/debugbar.php
/congfig/debugbar.php
_ide_helper.php
/node_modules/*
/package-lock.json
/public/js/backend/vendor.js
/public/js/backend/app.js
/public/js/backend/styles.js
/public/js/backend/assets/*
/public/css/backend/bundle.min.css
/public/css/backend/style.min.css
/public/js/frontend/Main*
/public/css/frontend/app*
/yarn-error.log
/fonts/*
/images/*
public/images
public/imported_file
/storage/*
.vscode/
/bootstrap/cache/*
mysql/
public/js/backend/autoload/min/*
/public/*.js
