.text-center {
    vertical-align: middle !important;
    text-align: center;
}

.text-center p {
    color: #0c7cd5;
    margin-top: 15px !important;
}

.modal-full {
    width: 80%;
    max-width: 100%;
}

.table-scroll.deleted-table thead th:nth-child(2),
.table-scroll.deleted-table thead th:nth-child(3) {
    z-index: unset;
    left: unset;
}

.table-scroll.deleted-table td:nth-child(2),
.table-scroll.deleted-table td:nth-child(3) {
    position: inherit;
}

#avatar {
    max-width: 250px;
    margin: 0 auto;
}

.content-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.create_account {
    padding-bottom: 30px;
}

.tab-content {
    max-width: 1200px;
}