button.btn-merge-order,
button.btn-confirm-create-route {
  padding-left: 0;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
  border-radius: 4px;
  border: 1px solid #c5c5c5;
}

button.btn-confirm-create-route {
  margin-right: 8px;
  background: white;
}
