.card-box.filter {
    width: 420px;
}

.card-box.result {
    width: calc(100% - 420px);
    position: relative;

}
.card-box {
    border-top: 0px;
    border-bottom: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
}

.card-header {
    background-color: rgba(0, 0, 0, .03);

}

.filter.card-box, .result.card-box {
    padding: 0px;
}

.filter .row {
    margin: 6px 0px;
}

.filter .container-fluid, .result .container-fluid {
    padding: 0px;
}

.filter .card-header, .result .card-header {
    padding: 10px;
    border: none;
    border-radius: 0px;
}

.result tfoot td {
    font-weight: bold;
}

.active-select, .parent:hover, .child:hover {
    background-color: rgb(213, 219, 247) !important;
}

@media (min-width: 700px) {
    .table-responsive {
        width: 100% !important;
        float: left;
        display: table;
    }
}

.select2-search__field {
    width: 100% !important;
}

.result .row.title {
    display: block;
    /*justify-content: center;*/
    /*text-align: center;*/
}

.report-content.table-scroll th:nth-child(1) {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 5;
}

.report-content.table-scroll td:nth-child(1) {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 3 !important;
    background-color: #dddddd;
}

.table-scroll table.table > thead > tr > th:nth-child(2) {
    left: 0px;
    z-index: 3;
}

.table-scroll table.table > tbody > tr > td:nth-child(2) {
    left: 0;
}

.table-scroll table.table > thead > tr > th:nth-child(3) {
    left: 0px;
    z-index: 2;
}

.table-scroll table.table > tbody > tr > td:nth-child(3) {
    position: static;
    /* position: sticky; */
    left: 0px;
    z-index: 2;
}

.report-content.table-scroll.table-scroll {
    height: calc(100vh - 150px);
}

.report-content.table-scroll.table-scroll table {
    margin: 0 auto;
}

.table thead tr th {
    border: none;
}

.table-bordered td, .table-bordered th {
    border: none;
}

.table-bordered tfoot tr td {
    background-color: #f6f6f6;
    z-index: 2;
}

.table-scroll thead tr:nth-child(1) th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #f2f2f2;
}

.nav-link {
    padding: 0;
}

.fa {
    cursor: pointer;
}

.hide {
    display: none;
}

.refresh-statistic {
    width: 24px;
    height: 24px;
}